.crowRainbowText {
    background: linear-gradient(to right in hsl longer hue,
                hsl(0 100% 70%),
                hsl(360 100% 70%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    /* Changes size of gradient. Must be divided or multiplied by factors of 2, and cannot be 1. 
    If stuttering, increase background-position in the animation and change speed to match.*/
    background-size: calc(100% / 2);
    
    animation: crowRainbowText 25s linear infinite;
    /* Change speed with this control, or reverse direction by adding reverse */

}

@keyframes crowRainbowText {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 1000% 0%;
    }
}

.crowRainbowBackground {
    
}